[submodule "ffi-deps/simde"]
	path = ffi-deps/simde
	url = https://github.com/simd-everywhere/simde
[submodule "ffi-deps/FourQlib"]
	path = ffi-deps/FourQlib
	url = https://github.com/microsoft/FourQlib
